<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{head.html}">
</head>
<body>
      <div class="container" th:insert="~{navbar.html}"></div>

      <div class="container mt-5">
        <div class="row">
            <div class="col-3"></div>
            <div class="col-6">
              <form th:action="@{'/addapplication'}" method="post">

                <label>ФИО:</label> <br>
                <input placeholder="ФИО:" type="text" size="80" name="userName">
                  <br>
                <label>Курс:</label> <br>
                <select  name="courses.id" style="width: 99%;">
                    <option th:each="cour : ${courses}" th:value="${cour.id}" th:text="${cour.name} + ' - ' + ${cour.price} + ' USD'"></option>
                </select>
                  <br>
                <label>Телефон:</label> <br>
                <input placeholder="+7(7__)_______" type="tel" size="80" name="phoneNumber">
                  <br>
                <label>Комментарии:</label> <br>
                <textarea placeholder="Комментарии:" rows="6" cols="83" name="commentary"></textarea>
                  <br>
                  <button class="btn btn-success">Добавить заявку</button>
              </form>
            </div>
        </div>
      </div>
</body>
</html>