<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head th:insert="~{head.html}">
  </head>

    <body>
        <div class="container" th:insert="~{navbar.html}"></div>

            <div class="container mt-3 w-100">
                <div class="row" style="justify-content: space-around">
                        <div class="card mt-3" style="width: 37rem;" th:each="ap : ${applications}">
                            <div th:if="${ap.handled==true}">
                                <div class="card-body">
                                    <h3 class="card-title">Заявка от <strong th:text="${ap.userName}"></strong></h3>
                                    <h6 class="card-subtitle mb-2 text-muted" disabled="">Курс: <strong th:text="${ap.courses.name}"></strong></h6>
                                    <p class="card-text" th:text="${ap.commentary}"></p>
                                    <p class="card-footer" th:text="${ap.phoneNumber}"></p>
                                    <a th:href="@{'/details/' + ${ap.id}}">Подробнее</a>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </body>
</html>